

<html>
<head>
<title>
A Simple HTML Document
</title>
</head>
<body>

<h3><p> Welcome to the Crypt Page ! Choose the option needed . </p></h3>
 	<h2><a href= "/water"> 1. Watermarking </a> </h2>
 <br>
 	<h2><a href= "/hashing"> 2. Secure hashing </a></h2> 
 <br>
 	<h2><a href= "/ukeys"> 3. Unique Key generation </a></h2>
 <br>
 	<h2><a href= "/digital-signature"> 4. Digital Signature </a></h2>
<br>
 	<h2><a href= "/stegger"> 5. Steganography </a></h2>


<form action="/logout?_method=DELETE" method="POST">
  <button style="height:50px; width=2000px;font-size: 20px; background-color: #f44336;";type="submit"> Log Out </button>
</form>

</body>
</html>