

<form action="/stegger-encrypt" method="POST">

<h3><div>
<p> This is a Stegnography page . An image is encrypted and decrypted </p>
</div></h3>


<button type="submit1, name = submit1" >  Encryption  </button> 

<label for ="url"> Enter an URL: </label>

<input type="url" name="url" id="url"
       placeholder="http://example.com"
       size="200"
       required>

<label for ="message"> Enter a message:   </label>

<input type="text" name="message" id="message"
       size="200"
       required>


<br>
<br>
</form>
<form action="/stegger-decrypt" method="POST">



<button type="submit2, name = submit2" >  Decryption  </button>


</form>
<br>
<br>

<form action="/home" method="POST">
  <button style="height:30px;width=100px;font-size: 20px; background-color: #f44336;"; type="submit" > BACK TO HOME </button>
</form>

