
<form action="/ukeys" method="POST">

<h2><div>
<p> This is a unique key generation page </p>
</div></h2>

<h3><div>

<label for ="message"> Enter text to generate uniqueKey :        </label>

</div></h3>

<input type="text" name="message" id="message"
       placeholder="Input text"
       required>

<br><br>
<button style="height:30px;width=1000px;font-size: 20px; background-color: #4CAF50;"type="submit">  Submit  </button>



</form>
<form action="/home" method="POST">
  <button style="height:30px;width=100px;font-size: 20px; background-color: #f44336;"; type="submit" > BACK TO HOME </button>
</form>
