

<form action="/water" method="POST">

<div>
<h2><p> This is a watermarking page </p></h2>
</div>

<h3><div>
<label for ="url1"> Enter an image URL: </label>

<input type="url1" name="url1" id="url1"
       placeholder="http://example.com"
       size="200"
       required>
</div></h3>
<br>
<br>

<h3><div>
<label for ="url2"> Enter a logo image URL to Watermark: </label>

<input type="url2" name="url2" id="url2"
       placeholder="http://example.com"
       size="200"
       required>
</div><h3>
<br>
<br>

<button style="height:30px;width=1000px;font-size: 20px; background-color: #4CAF50;"type="submit">  Submit  </button>

</form>
<br>
<br>

<form action="/home" method="POST">
  <button style="height:30px;width=100px;font-size: 20px; background-color: #f44336;"; type="submit" > BACK TO HOME </button>
</form>


